@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2a30f3b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



header{
    background-color: rgba(255, 68, 0, 0.925);
    color: white;
    text-align: center;
    margin: 20px 0px;
    padding: 20px;
}

a{
    text-decoration: none;
}

nav{
    text-align: right;
}

main{
    margin: auto;
    background-color: white;
    max-width: 800px;
    padding-top: 50px;
}

img{
    display: block;
    max-width: 400px;
    margin: auto;
    
}